.color1 {
  color: #f3ece1;
}
.color2 {
  color: #beddf2;
}
.color2 {
  color: #4ea66f;
}
.color2 {
  color: #fffedb;
}
.color2 {
  color: #093d30;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

.indexbody {
  background-color: #f3ece1;
}
.kontinentbody {
  background-color: #4ea66f;
}
.singlekontinentbody {
  background-color: #4ea66f;
}

.logo {
  width: 70px;
  margin-left: 20px;
}
.kontinentlogo {
  width: 80px;
}
.verden {
  display: flex;
  justify-content: center;
  transform: translate(0px);
  transform: scale(0);
  animation: float 5s ease-in-out infinite;
  border: 4px #093d30 solid;
  border-radius: 1100px;
}

.verden:after {
  transform: translate(0px);
  animation: float 4s ease-in-out infinite;
  z-index: -2;
}

@keyframes float {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    transform: translate(0px);
  }
}
@media (min-width: 800px) {
  .verden {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 30px;
  }
}

.nav-links-inner a {
  font-family: "maxular", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  color: #093d30;
  display: flex;
  justify-content: flex-end;
}

h2 {
  font-family: "maxular", serif;
  font-weight: 700;
  font-style: normal;
  color: #093d30;
  margin-left: 20px;
  margin-right: 20px;
}
h3 {
  font-family: "maxular", serif;
  font-weight: 400;
  font-style: normal;
  color: #093d30;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}
.category-list a {
  color: #fffedb;
  font-family: "maxular", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  text-decoration: none;
  margin-left: 20px;
  display: block;
}
.white {
  background-color: white;
}
.pil {
  font-size: 45px;
  margin-left: 40px;
  margin-top: 20px;
  text-decoration: none;
  color: #093d30;
}

/********* Listeview *********/
.ikon {
  width: 50px;
  margin: 20px;
}
.by {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navn a {
  text-decoration: none;
}
.stedfoto {
  padding: 20px;
}
.læsmere {
  text-decoration: none;
  color: #4ea66f;
  font-family: "maxular", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
}
.stifinder a {
  font-family: "maxular", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 40px;
  color: #4ea66f;
}

/**** singleview ****/
dl {
  font-family: "raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 50px;
}
dt {
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
}
dd {
  font-size: 25px;
}
.stedbeskrivelse {
  margin: 40px;
  color: #093d30;
}

/******** media grid **********/

@media (min-width: 800px) {
  .kontinentgrid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px;
  }
  .stedgrid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .space {
    padding: 80px;
  }
}

/*************** BURGER MENU*************** - animations */

.line {
  transition: transform 0.75s ease, opacity 0.75s ease;
}

/* when the class "body-nav" has .shown in it change each line like this*/
.body-nav.show .line1 {
  transform: translate(-11px) rotate(45deg) translate(14px);
}
.body-nav.show .line2 {
  opacity: 0;
}
.body-nav.show .line3 {
  transform: translate(-11px) rotate(-45deg) translate(14px);
}
/* makes sure that the nav-links comes out*/
.body-nav.show .nav-links {
  transform: translate(0);
}

.sticky + .content {
  padding-top: 102px;
}

@media (max-width: 600px) {
  .nav-links {
    transform: translate(100%);
    transition: transform 1s ease;
  }
  .body-nav.show .nav-links {
  }
}
/*************** BURGER MENU*************** - HEADER */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.body-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #beddf2;
}
.logo {
  display: flex;
  gap: 20px;
}

@media (min-width: 600px) {
  .nav-links {
    display: flex;
    width: 42%;
    justify-content: space-around;
    margin-right: 0px;
  }
}
.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
.line {
  height: 2px;
  width: 35px;
  margin: 0.25rem 0;
  background: #000000;
}
@media (max-width: 800px) {
  .body-nav {
    height: 4rem;
    top: 0;
    left: 0;
    left: -22px;
    width: 106%;
  }
  .nav-links {
    width: 62%;
  }
  main {
    padding-top: 90px;
  }
}
/************** BURGER MENU ***************/
@media (max-width: 600px) {
  .body-nav {
    position: fixed;
  }
  .burger {
    display: grid;
  }

  .nav-links {
    display: flex;
    position: fixed;
    top: 64px;
    right: 0;
    height: 92vh;
    width: 100%;
    flex-direction: column;
    background-color: #84a7d9;
    gap: 20px;
    border-radius: 10px;
  }
  .nav-links li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
  }
  .nav-links li a {
    display: flex;
    justify-content: center;
  }
}
