.color1 {
  color: #f3ece1;
}
.color2 {
  color: #beddf2;
}
.color2 {
  color: #4ea66f;
}
.color2 {
  color: #fffedb;
}
.color2 {
  color: #093d30;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

.indexmain {
  background-color: #f3ece1;
}
.kontinentmain {
  background-color: #beddf2;
}

.logo {
  width: 70px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.kontinentlogo {
  width: 70px;
}
.verden {
  width: max-content;
  display: flex;
  justify-content: center;
}
.indexheader {
  background-color: #f3ece1;
}

.kontinentheader {
  background-color: #4ea66f;
}
